@tailwind base;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    @apply bg-dark text-white font-body;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 18.75rem;
  }

  * {
    @apply text-base;
    font-weight: 400;
  }

  #__next {
    height: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  #active-0:nth-of-type(1) {
    opacity: 1 !important;
  }
  #active-1:nth-of-type(2) {
    opacity: 1 !important;
  }
  #active-2:nth-of-type(3) {
    opacity: 1 !important;
  }
  #active-3:nth-of-type(4) {
    opacity: 1 !important;
  }
}

@tailwind components;
@tailwind utilities;
